@define-color background #3e3e3e; /* color8 */
@define-color foreground #b5b5b6; /* color7 */
@define-color workspace-empty #1e1e1e; /* color0 */
@define-color workspace-active #d0d0d1; /* color15 */
@define-color workspace-inactive #b5b5b6;
@define-color green #87a384;
@define-color yellow #d4b47d;
@define-color red #bb8284;
@define-color blue #3a70cf;

#waybar {
  background: @background;
  color: @foreground;
  font-family: "MesloLGS Nerd Font";
  font-size: 14px;
}

/* padding */

#workspaces,
#backlight,
#battery,
#pulseaudio,
#language,
#clock {
  padding: 6px 10px;
}
#workspaces {
  padding-left: 20px;
}

#clock {
  padding-right: 20px;
}

/* workspaces */

#workspaces button {
  font-size: 16px;
  padding: 0 1px;
  color: @red;
  border: none;
}

#workspaces button.active {
  color: @blue;
}

#workspaces button.urgent {
  color: @red;
}

#workspaces button:hover {
  background: none;
  color: @blue;
}

/* battery */

#battery.critical {
  color: @red;
}

#battery.warning {
  color: @yellow;
}

#battery.low {
  color: @yellow;
}
