@import url("/home/ek/.cache/wal/colors-waybar.css");

* {
  font-size: 15px;
  font-family: "MesloLGS Nerd Font";
  font-weight: 700;
}

window#waybar {
  all: unset;
}

.modules-left,
.modules-center,
.modules-right {
  padding: 7px;
  border-radius: 10px;
  background: alpha(@background, 0.5);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.modules-left {
  margin: 10px 0 5px 10px;
}

.modules-center {
  margin: 10px 0 5px 0;
  min-width: 150.1px;
}

.modules-right {
  margin: 10px 10px 5px 0;
}

tooltip {
  background: @background;
  color: @color7;
}

#clock,
#custom-pacman,
#custom-notification,
#bluetooth,
#network,
#battery,
#cpu,
#memory,
#temperature,
#tray,
#group-expand,
#custom-expand {
  padding: 0 5px;
  color: @color7;
  transition: all 0.3s ease;
}

#network,
#battery {
  padding: 0 10px;
}

#custom-expand {
  color: alpha(@foreground, 0.2);
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}

#custom-expand:hover {
  color: rgba(255, 255, 255, 0.2);
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
}

#custom-colorpicker {
  padding: 0 5px;
}

#custom-endpoint {
  color: transparent;
  text-shadow: 0 0 1.5px rgba(0, 0, 0, 1);
}

#clock:hover,
#custom-pacman:hover,
#custom-notification:hover,
#bluetooth:hover,
#network:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#temperature:hover {
  color: @color1;
}

#battery.charging {
  color: #26a65b;
}

#battery.warning:not(.charging) {
  color: #ffbe61;
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation: blink 0.5s linear infinite alternate;
}

#workspaces {
  padding: 0 5px;
  text-shadow: none;
}

#workspaces button {
  all: unset;
  margin: 0 3px;
  padding: 0 2px;
  background: @color2;
  color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  min-width: 15px;
  transition: all 0.3s;
}

#workspaces button:hover {
  background: @color1;
}

#workspaces button.active {
  background: @color1;
  border-radius: 10px;
  min-width: 30px;
}

#workspaces button.active:hover {
  background: @color2;
}

#workspaces button.empty {
  background: alpha(@background, 0.5);
  border: none;
  color: transparent;
}

#workspaces button.empty:hover {
  text-shadow: 0 0 1.5px rgba(0, 0, 0, 0.5);
}

#workspaces button.empty.active {
  background: @color1;
  text-shadow: none;
}

#workspaces button.empty.active:hover {
  background: @color2;
}

#tray menu *,
#tray menu separator {
  padding: 0 5px;
  transition: all 0.3s ease;
}
