@import url('/home/ek/.cache/wal/colors-waybar.css');

@define-color mauve    @color9;
@define-color red      @color9;
@define-color lavender @color7;
@define-color text     @color7;

* {
    all: unset;
    font-family: 'MesloLGS Nerd Font', monospace;
    font-size: 18px;
    outline: none;
    border: none;
    text-shadow: none;
    background-color: transparent;
}

window {
    padding: 20px;
    border-radius: 0px;
    background-color: alpha(@background, 0.5);
}

#outer-box,
#inner-box,
#scroll {
    border: none;
}

#inner-box {
    margin: 2px;
    padding: 5px;
}

#scroll {
    padding: 30px;
    margin: 0;
}

#input {
    margin: 20px;
    padding: 20px;
    color: @text;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: alpha(@background, 0.2);
}

#input image {
    color: @red;
    padding-right: 10px;
}

#input *,
#input:focus {
    border: none;
    outline: none;
    border-radius: 10px;
}

#text {
    margin: 5px;
    color: @text;
    border: none;
    outline: none;
}

#entry {
    margin: 5px;
    padding: 10px;
    border: none;
}

#entry arrow {
    color: @lavender;
    border: none;
}

#entry:selected {
    border-radius: 20px;
    background-color: transparent;
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.03);
}

#entry:selected #text {
    color: @mauve;
}

#entry:drop(active) {
    background-color: @lavender !important;
}
