@define-color text     @color7;
@define-color foreground #d0d0d1;
@define-color background #1e1e1e;
@define-color red #bb8284;

* {
    all: unset;
    font-family: 'MesloLGS Nerd Font', monospace;
    font-size: 18px;
    outline: none;
    border: none;
    text-shadow: none;
    background-color: transparent;
}

window {
    padding: 20px;
    border-radius: 0px;
    background-color: alpha(@background, 0.7);
}

#outer-box,
#inner-box,
#scroll {
    border: none;
}

#inner-box {
    margin: 2px;
    padding: 5px;
}

#scroll {
    padding: 10px;
    margin: 0;
}

#input {
    margin: 20px;
    padding: 20px;
    color: @foreground;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: alpha(@background, 0.2);
}

#input image {
    color: @foreground;
    padding-right: 10px;
}

#input *,
#input:focus {
    border: none;
    outline: none;
    border-radius: 10px;
}

#text {
    margin: 5px;
    color: @foreground;
    border: none;
    outline: none;
}

#entry {
    margin: 5px;
    padding: 10px;
    border: none;
}

#entry arrow {
    color: @foreground;
    border: none;
}

#entry:selected {
    border-radius: 20px;
    background-color: @foreground;
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.03);
}

#entry:selected #text {
    color: @background;
}

#entry:drop(active) {
    background-color: @red !important;
}
